<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulário</title>
</head>
<body>
    <h1>Formulários e Post</h1>
    <form action="/register" method="post"> <!--Tem q criar rota pro action e uma roa de redirecionamento-->
        <label for="username">Nome do usuário</label>
        <input type="text" name="userName" id="username"> <!--name é como a resposta do formulário via ser registrada no backend-->

        <button type="submit">Enviar</button>
    </form>
</body>
</html>